html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.App {
  padding: 1em;
}

.Rating label,
.Weight label {
  display: inline-block;
  text-align: right;
  width: 100px;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.score {
  display: block;
  font-size: 2em;
  font-weight: bold;
}
